/* body{
    width: 100%;
    height: 100%;
    background-color: rgb(19, 226, 157);
   
} */
/* .col{
    border: 1px solid red;
    margin-top: 10px;

} */
/* .IMG{
    display: flex;
    justify-content: center;
} */
